.container {
  display: flex;
  justify-content: center;
}

.container a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  opacity: 0.75;
}

.container a:hover {
  opacity: 1;
}

.container span {
  margin-right: 4px;
}
